<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.component.css"> <!-- Agrega un archivo de estilo externo o incluye el estilo directamente aquí -->
  <title>Horizontal Cards</title>
</head>
<body>

  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="./assets/inventario.png" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
        <h5 class="card-title">Inventario</h5>
        <p class="card-text">Gestiona y valida el inventario de productos. Realiza un seguimiento detallado de las existencias disponibles.</p>
        <a href="#" class="btn btn-primary">Ingresa</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
        <img src="./assets/compra.png" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
        <h5 class="card-title">Compra</h5>
        <p class="card-text">Registra las compras realizadas por la empresa. Permite ingresar información detallada sobre los productos adquiridos.</p>
        <a href="#" class="btn btn-primary">Ingresa</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="./assets/venta.png" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
        <h5 class="card-title">Registra Venta</h5>
        <p class="card-text">Registra todas las transacciones de venta. Facilita el seguimiento de productos vendidos.</p>
        <a href="#" class="btn btn-primary">Ingresa</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./assets/reporte.png" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Informes</h5>
          <p class="card-text">Accede a informes detallados y análisis clave relacionados con warvi. Facilita la toma de decisiones informadas para optimizar la operación del negocio.</p>
          <a href="#" class="btn btn-primary">Ingresa</a>
        </div>
      </div>


  </div>

</body>
</html>
